body {
  font-family: 'Oswald', Helvetica, sans-serif;
}

ul {
  padding: 0;
}

.done {
  text-decoration: line-through;
}

.list {
  display: block;
  width: fit-content;
  list-style: none;
}

.list:hover {
  cursor: default;
  background-color: cyan;
}

.delete {
  margin: auto 12px auto auto;
}